import pandas as pd
import requests
from bs4 import BeautifulSoup

In [7]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [8]:
response

'<!DOCTYPE html>\n<html>\n<head>\n    <title>Employees Table</title>\n    <style>\n        table {\n            border-collapse: collapse;\n            width: 50%;\n            margin: 20px auto;\n            font-family: \'Gill Sans\', \'Gill Sans MT\', Calibri, \'Trebuchet MS\', sans-serif;\n        }\n        th, td {\n            border: 1px solid #ddd;\n            padding: 8px;\n            text-align: left;\n        }\n        tr:nth-child(odd) {\n            background-color: #ddd;\n        }\n        tr:nth-child(odd):hover {\n            background-color: #ccc;\n        }\n        tr:nth-child(even):hover {\n            background-color: #eee;\n        }\n        th {\n            cursor: pointer;\n            background-color: #222;\n            color: #eee\n        }\n        th:hover {\n            background-color: #333;\n        }\n        h1{\n            text-align: center;\n            font-family: \'Franklin Gothic Medium\', \'Arial Narrow\', Arial, sans-serif;\n            font-size: 80px;\n            font-kerning: normal;\n            color: #7d231f;\n            \n        }\n        h2{\n            text-align: center;\n            font-family: \'Franklin Gothic Medium\', \'Arial Narrow\', Arial, sans-serif;\n            font-size: 60px;\n            font-kerning: normal;\n            color: #4e0c09;\n            \n        }\n        p {\n            font-family: \'Courier New\', Courier, monospace;\n            font-size: large;\n        }\n    </style>\n</head>\n<body>\n    <p>This page was created using HTML, CSS, and JavaScript. The HTML code provides the structure of the page, the CSS determines how each element should be formatted, and JavaScript determines how the user can interact with the web page. In this case, JavaScript allows users to click the column names of the table below to sort the data.</p>\n    <h1>Employees</h1>\n    <table id="data-table">\n        <thead>\n            <tr>\n                <th onclick="sortTable(0)">ID</th>\n                <th onclick="sortTable(1)">Name</th>\n                <th onclick="sortTable(2)">Age</th>\n            </tr>\n        </thead>\n        <tbody>\n            <tr class="employee">\n                <td>101</td>\n                <td>John Doe</td>\n                <td>28</td>\n            </tr>\n            <tr class="employee">\n                <td>102</td>\n                <td>Jane Smith</td>\n                <td>32</td>\n            </tr>\n            <tr class="employee">\n                <td>103</td>\n                <td>Robert Johnson</td>\n                <td>24</td>\n            </tr>\n            <tr class="employee">\n                <td>104</td>\n                <td>Mary Johnson</td>\n                <td>29</td>\n            </tr>\n            <tr class="employee">\n                <td>105</td>\n                <td>Michael Brown</td>\n                <td>35</td>\n            </tr>\n            <tr class="employee">\n                <td>106</td>\n                <td>Susan Davis</td>\n                <td>27</td>\n            </tr>\n            <tr class="employee">\n                <td>107</td>\n                <td>David Wilson</td>\n                <td>31</td>\n            </tr>\n            <tr class="employee">\n                <td>108</td>\n                <td>Linda Miller</td>\n                <td>33</td>\n            </tr>\n        </tbody>\n    </table>\n<h2>Why it\'s important</h2>\n<p>As you might be able to see, the actual data of this web page is stored in the HTML code. Both CSS and JavaScript have nothing to do with the actual data itself, but mostly just make the page look and work better. Thus, for web scraping the data from this page, only a knowledge of HTML is required.</p>\n<p>However, more modern websites don\'t always deliver the data in nice HTML tables. CSS is often used as a locator to locate the data inside of a particular table. Furthermore, more and more websites nowadays deliver empty HTML pages that are later populated with JavaScript processes to stop others from web scraping their sites. These issues are important to know about when performing web scraping.</p>\n    <script>\n        function sortTable(column) {\n            var table, rows, switching, i, x, y, shouldSwitch;\n            table = document.getElementById("data-table");\n            switching = true;\n\n            while (switching) {\n                switching = false;\n                rows = table.rows;\n\n                for (i = 1; i < (rows.length - 1); i++) {\n                    shouldSwitch = false;\n                    x = rows[i].getElementsByTagName("td")[column];\n                    y = rows[i + 1].getElementsByTagName("td")[column];\n\n                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {\n                        shouldSwitch = true;\n                        break;\n                    }\n                }\n\n                if (shouldSwitch) {\n                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);\n                    switching = true;\n                }\n            }\n        }\n    </script>\n</body>\n</html>\n'

In [9]:
soup = BeautifulSoup(response, 'html.parser')

In [17]:
soup.find('table').find_all('tr', class_='employee')[0].find_all('td')[1].text

'John Doe'

In [19]:
for employee in soup.find('table').find_all('tr', class_='employee'):
    print(employee.find_all('td'))

[<td>101</td>, <td>John Doe</td>, <td>28</td>]
[<td>102</td>, <td>Jane Smith</td>, <td>32</td>]
[<td>103</td>, <td>Robert Johnson</td>, <td>24</td>]
[<td>104</td>, <td>Mary Johnson</td>, <td>29</td>]
[<td>105</td>, <td>Michael Brown</td>, <td>35</td>]
[<td>106</td>, <td>Susan Davis</td>, <td>27</td>]
[<td>107</td>, <td>David Wilson</td>, <td>31</td>]
[<td>108</td>, <td>Linda Miller</td>, <td>33</td>]

In [20]:
for employee in soup.find('table').find_all('tr', class_='employee'):
    print(employee.find_all('td')[1].text)

John Doe
Jane Smith
Robert Johnson
Mary Johnson
Michael Brown
Susan Davis
David Wilson
Linda Miller

In [21]:
name = []

for employee in soup.find('table').find_all('tr', class_='employee'):
    name.append(employee.find_all('td')[1].text)

In [22]:
name

['John Doe',
 'Jane Smith',
 'Robert Johnson',
 'Mary Johnson',
 'Michael Brown',
 'Susan Davis',
 'David Wilson',
 'Linda Miller']

In [23]:
id = []
name = []
age = []

for employee in soup.find('table').find_all('tr', class_='employee'):
    id.append(employee.find_all('td')[0].text)
    name.append(employee.find_all('td')[1].text)
    age.append(employee.find_all('td')[2].text)

In [24]:
id

['101', '102', '103', '104', '105', '106', '107', '108']

In [25]:
name

['John Doe',
 'Jane Smith',
 'Robert Johnson',
 'Mary Johnson',
 'Michael Brown',
 'Susan Davis',
 'David Wilson',
 'Linda Miller']

In [26]:
age

['28', '32', '24', '29', '35', '27', '31', '33']

In [28]:
df = pd.DataFrame({
    'id': id, 
    'name': name,
    'age': age
})
df

    id            name age
0  101        John Doe  28
1  102      Jane Smith  32
2  103  Robert Johnson  24
3  104    Mary Johnson  29
4  105   Michael Brown  35
5  106     Susan Davis  27
6  107    David Wilson  31
7  108    Linda Miller  33

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      object
dtypes: object(3)
memory usage: 324.0+ bytes

In [31]:
df['age'] = df['age'].astype(int)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      int64
dtypes: int64(1), object(2)
memory usage: 324.0+ bytes

In [35]:
df.describe()

             age
count   8.000000
mean   29.875000
std     3.563205
min    24.000000
25%    27.750000
50%    30.000000
75%    32.250000
max    35.000000